/*//////////adaptive start\\\\\\\\*/
@media only screen and (min-width: 1199px) {
    #competitors .slick-slide, #competitors .slick-track {
        width: 343px;
    }
}


@media only screen and (max-width: 1199px) {
    /*advantage start*/
    .properties-4 {
        padding-top: 170px;
    }
    .properties-3 {
        padding-top: 250px;
    }
    /*advantage stop*/
}
@media only screen and (max-width: 991px) {
    h2 {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 28px;
    }
    h3 {
        text-align: center;
        font-size: 18px;
    }
    /*headerwrap start*/
    .about_info {
        font-size: 23px;
        font-weight: 500;
    }
    .text-request {
        font-size: 16px;
    }
    /*headerwrap stop*/

    /*inform start*/
    .paragraph-1 {
        font-size: 20px;
    }
    /*inform stop*/

    /*advantage start*/
    #main-advantage {

        height: auto;
        background: url(../img/fon_best_2-min.jpg) no-repeat;
        background-position: 50% 0;
        background-size: 700px;
    }
    .adv-1 {
        text-align: left;
        margin-top: 350px;
        padding-right: 0;
    }
    .adv-2 {
        margin-top: 350px;
    }
    .properties-4 {
        padding-top: 20px;
    }
    .properties-3 {
        padding-top: 80px;
    }
    /*advantage stop*/

    /*cooperation start*/
   .coop-text {
        padding-left: 50px;
    }
    /*cooperation stop*/

    /*competitors start*/
    #competitors .slick-slide, #competitors .slick-track {
        width: 209px;
    }
    /*competitors stop*/

    /*services start*/
    .serv-par {
        font-size: 22px;
    }

    .serv-par-2, .serv-par-5 {
        font-size: 16px;
    }

    .image-16 {
        width: 60px;
    }

    .serv-par-3 {
        max-width: 280px;
        font-size: 17px;
    }
    /*services stop*/

    /*review start*/

    /*review stop */
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 17px;
    }
    /*navbar start*/
    .navbar-collapse{
        background-color: #E2E2E2 !important;
    }
    .navbar-toggle, .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: #FFFFFF !important;
    }
    .nav > li{
        border-bottom: 1px solid #949494;
    }

    .modal-dialog {
        max-width: 500px;
        margin: 20px auto;
    }
    /*navbar stop*/

    /*headerwrap start*/
    #headerwrap {
        background: url(../img/mozaika-top.png) no-repeat;
        background-position: 50% 52px;
        background-size: 1190px;
    }
    .contact {
        display: none;
    }

    .about_info {
        font-size: 22px;
        line-height: 1.3em;
        font-weight: 700;
    }

    .cars {
        display: none;
    }

    .request-form {
        height: 350px;
        max-width: 300px;
        margin: auto;
    }

    .slider {
        max-width: 400px;
        height: 200px;
        margin: auto;
    }

    /*headerwrap stop*/

    /*inform start*/
    #inform {
        background: url(../img/7-fs.png);
        background-size: 1190px;
        height: 420px;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .inform-1 {
        padding-top: 15px;
    }
    .paragraph-1 {
        margin-top: 20px;
    }
    .inform-2 {
        margin-top: 0;
    }
    /*inform stop*/

    /*advantage start*/
    #main-advantage {
        background-image: none;
    }
    #main-advantage p {
        margin-left: 90px;
        margin-top: -30px;
    }

    .adv-2, .adv-1 {
        margin-top: 0;
    }

    .properties-1, .properties-2, .properties-3,.properties-4 {
        padding-top: 0;
    }
    .paz1, .paz2, .paz3, .paz4  {
        width: 80px;
        padding-top: 30px;
    }
    /*advantage stop*/
    /*cooperation start*/
    #cooperation {
        display: none;
    }
    /*cooperation stop*/

    /*competitors start*/
    .nav-pills > li {
        float: left;
        width: 33.333%;
    }

    .slider-1 {
        max-width: 400px;
        min-height: 200px;
        margin: auto;
    }

    #competitors .slick-slide, #competitors .slick-track {
        width: 400px;
    }
    /*competitors stop*/

    /*services start*/
    .serv {
         margin-top: 0;
    }

    .collapse {
        display: none;
        visibility: hidden;
    }

    .service-but, .service-but:hover, .service-but:focus {
        width: 100%;
        min-height: 70px;
        padding: 15px 30px 15px 15px;
        align-items: center;
        border-bottom: 2px solid #d6d6d6;
        background-color: #ba1154;
        color: #fff;
        border-radius: 0;
        font-size: 16px;
        line-height: 1.3em;
        font-weight: 600;
        text-align: center;
    }

    .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
        outline-offset: 0;
        outline: none;
    }

    .service-but.collapsed {
        background-color: #e7e7e7;
        color: #000;
    }

    .content-1 {
        display: block;
        max-width: 395px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 500;
    }

    .serv-par {
        display: none;
    }

    .content-2 {
        max-width: 720px;
        margin-top: 20px;
    }

    .serv-par-4 {
        text-align: center;
    }

    .image-15 {
        width: 720px;
    }

    .image-12 {
        display: block;
        margin: 0 auto;
        width: 400px;
    }

    .button-price {
        margin-bottom: 40px;
    }

    .collapse.in {
        border-right: 2px dashed #e7e7e7;
        border-bottom: 2px dashed #e7e7e7;
        border-left: 2px dashed #e7e7e7;
        background-color: #fff;
    }

    .slider-2 {
        max-width: 400px;
        height: 200px;
        margin-top: 0;
        margin-bottom: 70px;
    }
    /*services stop*/

    /*review start*/
    .paragraph-3 {
        text-align: center;
    }
    /*review stop */

    /*banner start*/
    .banner {

        background-color: #f5f5f5;
    }

    .ban {
        margin-top: 30px;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 500px;
    }

    .banner-logo {
        display: none;
    }
    /*banner stop*/

    /*contacts start*/
    #contacts {
        padding-bottom: 60px;
        background: url(../img/mozaika-bot.png) no-repeat;
        background-position: 50% 100%;
        background-size: 1190px;
    }
    /*contacts stop*/
}

@media only screen and (min-width: 768px){
    .nav-call, .nav-company {
        display: none;
    }

    /*headerwrap start*/
    .car-sm-lg, .car-tagline {
        display: none;
    }
    /*headerwrap stop*/

    /*advantage start*/
    .paz1, .paz2, .paz3, .paz4  {
        display: none;
    }
    /*advantage stop*/

    /*competitors start*/
    .nav-just > li {
        display: table-cell;
        width: 1%;
        float: none;
    }
    /*competitors stop*/

    /*services start*/
    .service-but {
        display: none;
    }

    .collapse {
        display: none;
        visibility: hidden;
    }
    /*services stop*/

    /*banner start*/

    .banner-logo2 {
        display: none;
    }
    /*banner stop*/

    /*contacts start*/

    /*contacts stop*/

}


@media only screen and (max-width: 638px){
    /*headerwrap start*/
    .car-sm-lg {
        max-width: 100%
    }
    /*headerwrap stop*/

}

@media only screen and (max-width: 480px){
    h2 {
        padding-right: 0;
        padding-left: 0;
        font-size: 26px;
    }
    /*inform start*/
    #inform {
        min-height: 600px;
        background: url(../img/9-fs.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 1290px;
        height: auto;
        padding: 60px 15px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .inform-1 {
        padding-top: 0;
    }
    .paragraph-1, .paragraph-2 {
        line-height: 1.2em;
    }
    /*inform stop*/

    /*advantage start*/
    .properties-1, .properties-2, .properties-3,.properties-4 {
        font-size: 16px;
    }
    /*advantage stop*/
    /*competitors start*/
    .nav-pills > li  {
        font-size: 15px;
        font-weight: 500;
    }
    /*competitors stop*/

    /*services start*/
    .service {
        font-size: 14px;
    }

    .image-16 {
        width: 30px;
    }

    /*services stop*/

    /*review start*/
    .paragraph-3 {
        padding: 0 10px;
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 1.4em;
        text-align: justify;
    }

    .rev-logo {
        padding: 0 40%;
    }

    .rev-sign {
        float: none;
        display: block;
        text-align: center;
    }
    /*review stop */

    .image-28 {
        width: 26px;
    }

    /*contacts start*/
    .link-3, .link-3:hover, .link-3.active, .link-3:focus {
        color: #444;
        font-size: 16px;
        font-weight: 500;
        padding-left: 15px;
    }

    .tel-text {
        display: none;
    }
    /*contacts stop*/
}

@media only screen and (max-width: 360px) {
    .serv-par-3 {
        max-width: 200px;
        font-size: 15px;
    }
}
/*adaptive stop*/