* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 100%/1.5em "Open Sans", Arial, Helvetica, sans-serif;
    color: #202020;
    background-color: #FFFFFF;


    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    /*margin-top: 70px; !*if use nav-bar*!*/
}



/*Flexible media*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.centered {
    text-align: center;
}

h2 {
    margin-bottom: 50px;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 37px;
    line-height: 1.3em;
    text-align: center;
}

.caption-1 {
    margin-top: -20px;
    margin-bottom: 0;
}

.caption-2, .caption-3 {
    margin-top: 20px;
}

.caption-4 {
     margin-top: 50px;
 }

.caption-5 {
    margin-top: 40px;
    margin-bottom: 50px;
}

h3 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: -1px;
}

.mfp-content .mfp-close:hover {
    cursor: pointer;
}

figure {
    position: relative;
}

figure img,
figure video,
figure object,
figure embed {
    display: block;
    max-width: 100%;
}


/*navbar - start*/

.navbar {
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, .25);
}

.image-33 {
    width: 30px;
    position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.nav-logo {
    height: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.icon-bar {
    background-color: #000000 !important;
}

.nav-li {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #0d4383 !important;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}


.nav-li:hover, .nav-li:focus {
    color: #ba1154 !important;
    outline: 0;
}


.navbar-inverse {
    background: #ffffff;
    border-color: #ffffff;
}

.navbar-nav {
    margin: 1px -15px;
}

.link-4, .link-4:hover, .link-4.active, .link-4:focus {
    color: #000;
    font-size: 20px;
    display: inherit;
    text-decoration: none;
    text-align: center;
}

.nav-par {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}

#form-telephone, #form-price {
    padding-top: 20%;
}

#form-telephone .modal-content, #form-price .modal-content {
    background: #e1e1e1;
    box-shadow: none;
    border: none;
}

.btn-primary-1, .btn-primary-1:hover, .btn-primary-1.active, .btn-primary-1:focus {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #0d4383;
    font-size: 21px;
    line-height: 1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-field-1 {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 5px;
}

.navbar-toggle {
    float: left;
}
/*navbar - stop*/

/*headerwrap start*/
#headerwrap {
    margin-right: auto;
    margin-left: auto;
    padding-top: 51px;
}

.telephone {
    text-align: right;
}

.link, .link:hover, .link.active, .link:focus {
    color: #000;
    font-size: 30px;
    line-height: 1em;
    font-weight: 700;
    text-decoration: none;
}

.text-block {
    margin-top: 15px;
    font-size: 17px;
    line-height: 1em;
    font-weight: 400;
}

.button-phone{
    top: -50%;
    margin-top: -5px;
    margin-bottom: 10px;
    padding: 13px 10px;
    background-color: #0d4383;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
    cursor: pointer;
    transition: all .25s ease;
}

.button-phone > a {
    color: #FFFFFF;
    text-decoration: none;
}

.button-phone:hover {
    background-color: #c61618;
}

.link-2, .link-2:hover {
    font-size: 16px;
    font-weight: 600;
    color: #0000EC;
    text-decoration: underline;
    display: inline-block;
    padding-left: 10px;
}

.about_info {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 28px;
    line-height: 1em;
}

.cars {
    margin-top: 40px;
}

.car-tagline {
    font-size: 16px;
    text-align: center;
}

.car-sm-lg {
    max-width: 500px;
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.request {
    min-height: 335px;
    max-width: 267px;
    min-width: 230px;
    padding: 15px 20px 20px;
    border: 2px solid #000;
    display: inline-block;
}

.text-request {
    color: #000;
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: -1px;
}

.text-field {
    margin-bottom: 15px;
    border: 2px solid #d6d6d6;
    font-weight: 700;
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
}

.request-btn {
    display: block;
    width: 100%;
    background-color: #c61618;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 9px 15px;
    color: white;
    border: 0;
    cursor: pointer;
    transition: all .25s ease;
}

.request-btn:hover {
    background-color: #0d4383;
}

.about-slider {
    padding: 3% 0 0 0;
    margin-left: -5px;
    /*margin-right: -2.5px;*/
    /*max-width: 1047px;*/
}

.sl-slide {
    outline: none;
    margin: 0 5px;
    cursor: pointer;
}
/*headerwrap stop*/

/*inform start*/
#inform{
    height: 390px;
    max-width: 1200px;
    margin: auto;
}
    #inform .wrap {
        background: url(../img/pazl_JH6C6eg.jpg) no-repeat;
        /*background-position: 50% 50%;*/
        background-size: 100%;
        min-height: 360px;
    }

.inform-1 {
    padding-top: 85px;
}

.paragraph-1 {
    color: #000;
    font-size: 23px;
    line-height: 1.3em;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.5px;
}

.paragraph-2 {
    margin-top: 5px;
    font-size: 22px;
    line-height: 1.3em;
    text-align: center;
    letter-spacing: -0.5px;
}

.inform-2 {
    margin-top: 40px;
}
/*inform stop*/

/*advantage start*/
#advantage {
    padding-top: 70px;
}
#main-advantage {
    height: 650px;
    background: url(../img/fon_best_1-min.jpg);
    background-position: 50% 40px;
    background-repeat: no-repeat;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 700;
}

.adv-1 {
    margin-top: 45px;
    text-align: right;
    padding-right: 36%;

}

.adv-2 {
    margin-top: 45px;
}

.properties-1 {
    color: #26749e;
}

.properties-2 {
    color: #b7195a;
}

.properties-3{
    padding-top: 245px;
    color: #d68327
}

.properties-4 {
    padding-top: 210px;
    color: #308982
}

#main-advantage p{
    margin-top: 3px;
    font-size: 15px;
    line-height: 1.3em;
    font-weight: 400;
}
/*advantage stop*/

/*cooperation start*/
#cooperation {
    margin-top: 50px;
}
.coop-row {
    margin-top: 35px;
}
.coop-1 {
    color: #2072a0;
}
.coop-2 {
    color: #d9830b;
}
.coop-3 {
    color: #ba1153;
}
.coop-4 {
    color: #489690;
}

.coop-text {
    padding-left: 25px;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 700;
}

#cooperation p {
    margin-top: 5px;
    font-size: 15px;
    line-height: 1.3em;
    font-weight: 400;
}
/*cooperation stop*/

/*competitors start*/
#competitors {
    margin-top: 100px;
    padding-bottom: 40px;
}
    #competitors .tab-content .tab-pane .row h3 {
        padding: 0 15px;
    }

.nav-pills > li + li {
    margin-left: 0;
    border: 1px solid #949494;
}
.nav-pills > li  {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #949494;
}

.nav-pills > li > a, .nav-pills > li > a:hover  {
    color: #222222;
     border-radius: 0;
    background-color: #e7e7e7;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #ba1154;;
}

.tab-pane {
    border-right: 2px dashed #e7e7e7;
    border-bottom: 2px dashed #e7e7e7;
    border-left: 2px dashed #e7e7e7;
    padding: 0 9px;
}

.competitors-slider {
    padding: 5%;
}

#competitors .slick-slide, #competitors .slick-track, #services .slick-slide, #services .slick-track {
    width: 279px;
}
/*competitors stop*/

/*services start*/
.serv {
    margin-top: 40px;
}

.image-16 {
    vertical-align: top;
}

.serv-par {
    max-width: 450px;
    font-family: Roboto, sans-serif;
    color: #000;
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: -1px;
}

.serv-par-2, .serv-par-5 {
    max-width: 350px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #555;
    font-size: 19px;
    line-height: 1.2em;
}

.serv-i {
    display: inline-block;
    margin-top: 40px;
}
.serv-par-3 {
    display: inline-block;
    max-width: 320px;
    color: #0d4a92;
    font-size: 19px;
    line-height: 1.2em;
    padding-left: 20px;
}

.serv-par-4, .serv-par-6 {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-weight: 700;
}

.serv-par-5 {
    max-width: 100%;
    text-align: center;
}

.serv-par-6 {
    font-size: 20px;
    margin-top: 20px;
}

.image-14 {
    display: block;
    margin: 20px auto;

}

.button-price{
    display: block;
    width: 100%;
    max-width: 260px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #c61618;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .25s ease;
}

.button-price > a {
    color: #FFFFFF;
    text-decoration: none;
}

.button-price:hover {
    background-color: #0d4383;
}

.unordered-list {
    margin-left: 20px;
    margin-top: 15px;
}

.image-12 {
    width: 400px;
    margin: 0;
}
.slider-2 {
    margin: 30px auto;
}
/*services stop*/


/*review start*/
#review {
    /*padding: 3%;*/
    padding-top: 100px;
}
    #review .row > div:nth-child(odd) {
        padding-right: 20px;
    }
    #review .row > div:nth-child(even) {
        padding-left: 20px;
    }

.review-slider {
    margin-top: 50px;
}

.paragraph-3 {
    padding: 0 10px;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.4em;
    text-align: justify;
}

/*review stop */

/*banner start*/
.ban {
    max-width: 1000px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;

}
/*banner stop*/


/*contacts start*/


.company {
    width: 100%;
    margin: 70px 0;

}

.logo-company {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.tel-1 {
    margin-bottom: 15px;
    /*padding-left: 15%;*/
}
.add-info {
    margin-bottom: 15px;
    color: #555;
    font-size: 20px;
    line-height: 1.3em;
    text-align: center;
}

.image-17 {
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

.link-3, .link-3:hover, .link-3.active, .link-3:focus {
    color: #000;
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
}

.tel-text {
    text-align: right;
    color: #555;
    font-size: 15px;
    line-height: 1.3em;
}

.telephone-1 {
    text-align: left;
}

.paragraph-6 {
    color: #000;
    font-size: 20px;
    line-height: 1em;
    width: auto;
}
/*contacts stop*/

.map {
    max-height: 250px;
    opacity: .7;
    transition: opacity .5s ease;
}

.map:hover {
    opacity: 1;
}

.top {
    position: fixed;
    bottom: 25px;
    right: -100px;
    background-color: #E1E1E1;
    z-index: 12;
    border-radius: 10em;
    color: #393939;
    font-size: 26px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all .3s ease;
    /*opacity: .5;*/
}

.top i {
    line-height: 0;
}

.top:hover {
    color: #fff;
    background-color: #c61618;
    opacity: 1;
}

.top.active {
    right: 5px;
}

.hidden {
    display: none;
}

#message-text {
    max-height: 80px;
    max-width: 200px;
}

.mfp-content .mfp-close:hover {
    cursor: pointer;
}

.main-menu {
    width: 100%;
    margin: 0;
}
    .main-menu > li {
        width: 20%;
        text-align: center;
    }
        .main-menu > li:first-child {
            text-align: left;
        }
            .main-menu > li:first-child > a {
                padding-left: 0;
            }
        .main-menu > li:last-child {
            text-align: right;
        }
            .main-menu > li:last-child > a {
                padding-right: 0;
            }
.padding-left-15 {
    padding-left: 15px;
}
.text-left {
    text-align: left;
}
.review-header {
    clear: both;
    width: 100%;
    display: block;
    min-height: 80px;
}
.rev-logo {
    display: inline-block;
    float: left;
}
.rev-sign {
    display: inline-block;
    float: right;
    color: #555;
    font-size: 15px;
    line-height: 1.4em;
    text-align: right;
    font-weight: 400;
    width: 50%;
}
#review p {
    font-size: 15px;
    line-height: 1.6em;
    text-align: justify;
}
    #review .review-item {
        padding-bottom: 40px;
    }
#contacts {
    padding-bottom: 50px;
}
.clearfix {
    clear: both;
}
.serv-par-3-button-price {
    margin-left: 106px;
}
.serv-map-button-price {
    margin-left: 80px;
}